<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Winner.Framework.Oracle.ConnectionString" connectionString="Data Source=souy181;User ID=souy181;Password=yxh123456;" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>

    <!--短信账号密码 -->
    <add key="SMS_UserCode" value="MSG" />
    <add key="SMS_UserPwd" value="1FF34A34AF899856539C67BF9B93CE97" />
    <!--短信账号密码end -->

    <!--邮箱账号密码 -->
    <add key="Email_UserCode" value="979855710@qq.com" />
    <add key="Email_UserPwd" value="bblscrpsnhzsbcce" />
    <!--邮箱账号密码end -->

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>