 td,input,button,select,body{font-family:"lucida Grande",Verdana;font-size:12px;}
h1,h2,h3,h4,h5,h6{font-size:12px;font-weight:normal;margin:0;}
ul,li{list-style:none;}
input,textarea,a{outline:none;}
form,body,ul,li{margin:0;padding:0;}
select,body,textarea{background:#fff;font-size:12px;}
select{font-weight:normal;font-size:12px;font-family:Tahoma;line-height:20px;}
textarea{width:540px;border:1px solid #718da6;padding:3px;font-family:"lucida Grande",Verdana;}
img{border:none;}
a{text-decoration:none;cursor:pointer;outline:none;}
a:hover{text-decoration:underline;}
a,a:link,a:visited,li.fs a.fdleft:hover,li.fd_mg a.fdleft:hover{color:#1e5494;}
a.btn_blue{display:inline-block;_overflow:hidden;padding:6px 25px;margin:0;font-size:14px;font-weight:bold;text-align:center;border-radius:3px;}
a.btn_blue:focus,a.btn_red:focus,a.btn_gray:focus{border-color:#93d4fc;box-shadow:0 0 5px #60caff;}
a.btn_blue:active,a.btn_red:active,a.btn_gray:active{outline:none;}
a.btn_blue{border:1px solid #0d659b;color:#fff;color:#fff!important;background-color:#238aca;background:-moz-linear-gradient(top,#238aca,#0074bc);background:-webkit-linear-gradient(top,#238aca,#0074bc);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#238aca',endColorstr='#0074bc');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#238aca',endColorstr='#0074bc')";}
a.btn_blue:hover{text-decoration:none;background-color:#238aca;background:-moz-linear-gradient(top,#2a96d8,#0169a9);background:-webkit-linear-gradient(top,#2a96d8,#0169a9);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a96d8',endColorstr='#0169a9');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a96d8',endColorstr='#0169a9')";}
a.btn_blue:active{background-color:#238aca;background:-moz-linear-gradient(top,#0074bc,#238aca);background:-webkit-linear-gradient(top,#0074bc,#238aca);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0074bc',endColorstr='#238aca');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#0074bc',endColorstr='#238aca')";}
.hide{visibility:hidden;}
/* remind_block 带icon的消息提示块 */
 .remind_block{overflow:hidden;}
.remind_block .remind_icon{float:left;margin-right:10px;display:inline;width:32px;height:32px;background:url(img/prompt18b47d.png) no-repeat;}
.remind_block .remind_content{overflow:hidden;*zoom:1;}
.remind_block .remind_title{margin-bottom:10px;padding-top:3px;_margin-top:4px;font-weight:bold;font-size:20px;font-family:"Microsoft YaHei","lucida Grande",Verdana;}
.remind_block .remind_detail{line-height:1.5;font-size:14px;color:#535353;}
.remind_block.notitle .remind_content{padding-top:8px;}
.error .remind_icon{background-position:-256px top;}
.error .remind_title{color:#cc0000;}
.warning .remind_icon{background-position:-64px 0;}
.warning .remind_title{color:#d68300;}
/* layout */
 .container{width:600px;margin:0 auto;padding-top:25px;}
.header{margin-bottom:5px;}
.footer{margin-top:18px;text-align:center;color:#a0a0a0;font-size:10px;}
.content{border:1px solid #bbb;box-shadow:0 0 3px #d4d4d4;}
.c-container{padding:30px;}
.c-footer{padding:10px 15px;background:#f1f1f1;border-top:1px solid #bbb;overflow:hidden;*zoom:1;}
.c-footer-a1,.c-footer-a2,.c-footer-a3{float:left;}
.c-footer-a2{margin:8px 0 0 15px;}
/* page */
 .safety-detail{font-size:12px;margin-top:10px;}
.safety-detail.show .safety-icon-arrow{background-position:right top;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg);}
.safety-detail.show .safety-detail-txt{visibility:visible;}
.safety-icon-arrow{display:inline-block;*display:inline;*zoom:1;width:12px;height:12px;margin:0 0 2px 4px;*margin:2px 0 0 4px;line-height:12px;vertical-align:middle;background:url(images/safety_arrow104474.png) no-repeat right -18px;-webkit-transform:rotate(0deg);-webkit-transition:-webkit-transform .3s ease-in;-moz-transform:rorate(0deg);-moz-transition:-moz-transform .3s ease-in;transform:rotate(0deg);transition:transform .3s ease-in;}
.safety-detail-txt{margin-top:6px;line-height:20px;color:#a0a0a0;visibility:hidden;}
.safety-url{margin-bottom:15px;padding-bottom:15px;border-bottom:1px solid #dfdfdf;word-wrap:break-word;word-break:break-all;}
