@model DataMonitorSystem.Models.VWinServiceModel
<div class="box">
    <form id="_form" method="post" class="m_top">
        <h3>是否确定删除？</h3>
        <input id="Id" name="Id" type="hidden" />
    </form>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            initForm();
            PageHelper.Dialog.Submit(function () {
                SubmitForm();
            });
        });

        //初始化
        function initForm() {
            $('#Id').val("@Model.Id");
        }

        function SubmitForm() {
            $("#_form").form("submit", {
                onSubmit: function () {
                    return $(this).form("validate");
                },
                success: function (result) {
                    result = eval("(" + result + ")");
                    if (result.Success) {
                        PageHelper.Dialog.Callback(result.Content);
                        PageHelper.Dialog.Close();
                    }
                    else {
                        PageHelper.Message.ShowError("错误", result.Message);
                    }
                }
            });
        }
    </script>
}




